$white: #f3f3f3;
$black: #3f3f3f;
$accent: #884949;
$warning: orange;

$spacingBase: 8px;
$spacingHalf: $spacingBase / 2;
$spacingSS: $spacingBase * 1.5;
$spacing2: $spacingBase * 2;
$spacing3: $spacingBase * 3;
$spacing4: $spacingBase * 4;
$spacing5: $spacingBase * 5;
$spacing6: $spacingBase * 6;
$spacing7: $spacingBase * 7;
$spacing8: $spacingBase * 8;
$spacing9: $spacingBase * 9;
$spacing10: $spacingBase * 10;
