@import "../../../../../assets/scss/variables";

.error {
  background-color: $warning;
  color: $white;
  position: fixed;
  bottom: $spacing3;
  right: $spacing3;
  border-radius: 4px;
  padding: $spacing3;
  display: flex;
  align-items: center;
  &__text {
    font-weight: 600;
    &:first-child { 
      margin-right: $spacingBase;
    }
  }
}
