:host {
  &.encode-image-container {
    position: relative;
  }
}

img {
  &.loading {
    opacity: 0 !important;
    top: 0;
    left: 0;
  }
}
.image-placeholder {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  display: block;
  .placeholder {
    margin: 0 auto;
    min-height: 100px;
    background-color: #eee;
  }

  @keyframes placeHolderShimmer{
      0%{
          background-position: -468px 0
      }
      100%{
          background-position: 468px 0
      }
  }

  .animated-background {
      animation-duration: 1.25s;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
      animation-name: placeHolderShimmer;
      animation-timing-function: linear;
      background: darkgray;
      background: linear-gradient(to right, #eeeeee 10%, #dddddd 18%, #eeeeee 33%);
      background-size: 800px 104px;
      position: relative;
  }
}