<img *ngIf="src" width={{width}} height={{height}} src={{src}} (load)="imgLoad($event)" [ngClass]="{'loading': loading}" />
<div *ngIf="src && loading" class="image-placeholder" [ngStyle]="{'width': width +'px', 'height': height + 'px'}">
  <div class="placeholder">
    <div class="animated-background" [ngStyle]="{'width': width +'px', 'height': height + 'px'}"></div>
  </div>
</div>