@import "../../../../../assets/scss/variables";

.page__deck {
  display: flex;
  main {
    padding: $spacing3;
    .title {
      margin-bottom: $spacing3;
      font-size: 1.8em;
      text-align: center;
      font-weight: 600;
    }
    .card-details {
      display: flex;
      align-items: flex-start;
      .description {
        padding: 0 $spacing3;
      }
      @media screen and (max-width: 1080px) {
        flex-direction: column;
        align-items: center;
        encode-image {
          margin-bottom: $spacing3;
        }
      }
    }
  }
}
