<div class="page page__deck">
  <deck-sidebar [activeCard]="activeCard"></deck-sidebar>
  <main>
    <div *ngIf="cardDetails">
      <h2 class="title">{{cardDetails.name}}</h2>
      <div class="card-details">
        <encode-image src="{{apiUrl}}/card_image/{{cardDetails.name}}" [width]="343" [height]="500"></encode-image>
        <div class="description">
          <p class="text">{{cardDetails.text}}</p>
        </div>
      </div>
    </div>
  </main>
</div>