<aside class="sidebar">
  <a class="sidebar__row" [ngClass]="{'active': activeCard === card.name}" *ngFor="let card of deck" [routerLink]="[ '/deck' ]"
    [queryParams]="{card: card.name}">
    <p class="name">{{card.name}}</p>
    <div class="type-wrap">
      <p class="type">{{card.type}}</p>
    </div>
  </a>
</aside>