@import "../../../../../assets/scss/variables";

$sidebarBorder: 2px solid lighten($black, 50%);

.sidebar {
  width: 280px;
  height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  border-right: $sidebarBorder;
  &__row {
    border-bottom: $sidebarBorder;
    display: block;
    padding: $spacingBase $spacing2;
    text-decoration: none;
    .name {
      font-size: 1em;
      margin-bottom: $spacingBase;
    }
    .type-wrap {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-end;
      .type {
        border: 1px solid $accent;
        border-radius: 4px;
        padding: $spacingBase $spacing2;
        font-size: .8em;
      }
    }
    &:hover {
      background-color: lighten($accent, 30%);
    }
    &.active {
      background-color: $accent;
      color: $white;
      .type-wrap {
        .type {
          border-color: $white;
        }
      }
    }
  }
}
