@import "./assets/scss/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $white;
  color: $black;
  font-size: 1em;
  min-height: 100%;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

a {
  color: inherit;
}